<div class="modal-header">
  <div class="modal-title"><i nz-icon nzType="ngZorro_safety" nzTheme="outline"></i>更改密码</div>
</div>

<form nz-form [formGroup]="form">
  <nz-form-item>
    <nz-form-control>
      <nz-input-group [nzSuffix]="suffixTemplate">
        <input [type]="passwordVisible ? 'text' : 'password'" formControlName="password" nz-input placeholder="请输入密码" />
      </nz-input-group>
      <ng-template #suffixTemplate>
        <i nz-icon [nzType]="passwordVisible ? 'eye-invisible' : 'eye'"
          (click)="passwordVisible = !passwordVisible"></i>
      </ng-template>
    </nz-form-control>
    <nz-form-explain>
      <ng-container *ngIf="!form.get('password').hasError('required')&&form.get('password').hasError('minlength')">
        至少6位数字或字母
      </ng-container>
    </nz-form-explain>
  </nz-form-item>
</form>

<div class="modal-footer" style="margin-top: 10px">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="submit" nzType="primary" [nzLoading]="http.loading" [disabled]="!form.valid" (click)="save()">保存</button>
</div>
