<!-- <page-header   autoTitle="false" [extra]="" > -->
  <!-- <ng-template #phActionTpl>
    <button (click)="add()" acl [acl-ability]="'menus.CUD'" nz-button nzType="primary">新建</button>
  </ng-template> -->
<!-- </page-header> -->
<page-header [title]="null"></page-header>


<nz-card>

  <sf #sf mode="search" [schema]="searchSchema" (formSubmit)="st.reset($event)" [button]="null">
    <button type="submit" [nzType]="'primary'" nz-button><i nz-icon type="search"></i>搜索</button>
    <button (click)="st.reset($event)" type="reset" nzShape="round" nz-button>重置</button>
  </sf>
  
  <div class="my-md">
      <nz-alert [nzType]="'info'" [nzShowIcon]="true" [nzMessage]="message">
        <ng-template #message>
          已选择
          <strong class="text-primary">{{selectedRows.length}}</strong> 项&nbsp;&nbsp; 服务调用总计
          <strong>{{totalCallNo}}</strong> 万
          <a *ngIf="totalCallNo > 0" (click)="st.clearCheck()" class="ml-lg">清空</a>
        </ng-template>
      </nz-alert>
  </div>
  
  <st #st [data]="url" [columns]="columns" [page]="stPage" (change)="change($event)" [req]="{params: params,process:reqProcess}" [res]="{process:dataChange}"></st>
</nz-card>
<!-- <app-menu-add [(isVisible)]="isVisible" (event)="setVisible($event)"></app-menu-add> -->
