<div class="modal-header">
  <div class="modal-title"><i nz-icon nzType="user" nzTheme="outline"></i>更改头像</div>
</div>
<sf *ngIf="record" #sf mode="edit" [schema]="schema" [ui]="ui" [formData]="record" button="none">
  <div class="modal-footer">
    <button nz-button type="button" (click)="close()">关闭</button>
    <button nz-button type="submit" nzType="primary" (click)="save(sf.value)"
      [disabled]="sf.value['headImg'].fileId==undefined" [nzLoading]="http.loading">保存</button>
  </div>
</sf>
